<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- <add name="CityDirectory" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Nazar\Projects\Net\Winforms\World\World\CityDirectory.mdf;Integrated Security=True" /> -->
		<add name="CityDirectory" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CityDirectory.mdf;Integrated Security=True" />
		<!-- <add name="CityDirectory" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|AppDomain|CityDirectory.mdf;Integrated Security=True" /> -->
	</connectionStrings>
</configuration>